* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.navigation {
    background-image: url("../images/front img.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.85fr 0.15fr;
    height: 625px;
}

.im {
    width: 17em;
    height: 4em
}

.navigation .logo {
    padding-left: 1.2em;
    padding-top: 0.7em;
}

.nav {
    color: white;
    font-size: 20px;
}

.nav ul {
    list-style-type: none;
    width: 100%;
}

.nav li {
    display: inline-block;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown {
    position :relative;
    display: inline-block;
}

.drop_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.drop_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop_content {
    display: block;
}

.explore {
    grid-column: 1 / span 2;
    background-color: rgba(0, 50, 100, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.ucp_today {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding: 30px;
}
.ucp_today_items ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    grid-gap: 12px 12px;
    margin: 0;
    width: 95%;
    list-style-type: none;
    padding-left: 50px;
}

.cards_content {
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card img {
    height: 100%;
    width: 100%;
}

h3 {
    padding: 10px 0;
}

.cards_content p {
    margin: 15px 0;
    
}

.c1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    box-shadow: 10px 10px 8px rgba(220, 220, 220);
}

.c5 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c6 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c7 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.c8 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    box-shadow: 10px 10px 8px rgba(220, 220, 220);
}

.card a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.btn {
    padding-bottom: 30px;
}

.btn a {
    border: 1px solid rgb(20, 60, 120);
    background-color: rgb( 20, 60, 120);   
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    width: 250px;
    padding: 10px 30px;
    font-size: 20px;
}

.btn a:hover {
    background-color: rgb(14, 41, 99);
}

.ucp_events {
    background-color: rgb(239, 239, 239);
}

.ucp_events_head {
    text-align: center;
    padding: 20px;
}

.ucp_events_head h2{
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 4px;
}

.ucp_events_head p {
    font-size: 25px;
    color: rgb(70, 70, 70);
    padding-bottom: 30px;
}

.ucp_events_items {
    margin: auto;
    width: 87%;
}

.ucp_events_items ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    padding: 0;
    height: auto;
    line-height: 2;
    text-align: left;
    grid-gap: 30px;
}

.events_1 {
    grid-column: 1 / span 1;
    margin: 0;
    background-color: white;
    box-shadow: 10px 10px 8px rgba(220, 220, 220);
}

.events_2 {
    grid-column: 2 / span 1;
    margin: 0;
    background-color: white;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.events_3 {
    grid-column: 3 / span 1;
    margin: 0;
    background-color: white;
    box-shadow: -10px 10px 8px rgba(220, 220, 220);
}

.events_4 {
    grid-column: 4 / span 1;
    margin: 0;
    background-color: white;
    box-shadow: 10px 10px 8px rgba(220, 220, 220);
}

.ucp_events_items img {
    width: 100%;
    height: 100%;
}

.events_content {
    padding: 0 30px;
}

.events_content p{
    padding-bottom: 30px;
}

.events_content a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
}

.more_ucp_events{
    padding-top: 80px;
    padding-bottom: 60px;
}

.chairman_msg {
    background-image: url("../images/chairman-msg-bg3.jpg");
    display: grid;
    height: auto;
    grid-template-columns: 0.5fr 1.5fr;
}

.image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg {
    padding-top: 40px;
    color: white;
    padding-right: 70px;
}

.msg h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 50px;
}

.msg h2 {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
}

.msg h6 {
    font-weight: normal;
    padding-bottom: 70px;
}

.about_ucp {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 40px;
}

.about_ucp_items ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    height: auto;
    list-style-type: none;
    padding: 0;
}

.about_ucp_items {
    text-align: center;
    padding-bottom: 70px;
}

.about_ucp_items img {
    width: 100px;
    height: 100px
}

.about_ucp_items h1 {
    font-size: 35px;
}

.footer_nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-image: url("../images/ucp_footer_bg.png");
    background-repeat: no-repeat;
    background-color: rgb(26, 51, 109);
    height: auto;
    text-align: left;
    border-bottom: 3px solid rgb(60, 81, 131);
}

.footer_nav a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.footer_nav a:hover {
    color: white;
}

.social_links img { 
    padding: 40px 20px;
    display: block;
}

.useful_links ul{
    padding-top: 30px;
    line-height: 2;
    padding-bottom: 50px;
}

.useful_links p {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 20px;
    color: white;
}

.greyish {
    color: rgb(200, 200, 200);
}

.contact_us {
    padding-top: 30px;
    line-height: 2;
}

.contact_us h2 {
    font-weight: normal;
    font-size: 20px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    text-align: left;
    background-color: rgb(32, 58, 118);
    height: auto;
    padding-top: 15px;
    padding-left: 30px;
    color: white;
    font-size: 13px;
}

